n8n/flows/flujo_analisis.json
{
  "name": "ByBot - Análisis de Documentos",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "analisis",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-entrada",
      "name": "Webhook Entrada",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [240, 300],
      "webhookId": "bybot-analisis"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\"success\": true, \"message\": \"Proceso recibido\", \"proceso_id\": {{ $json.proceso_id }}}",
        "options": {}
      },
      "id": "respuesta-inmediata",
      "name": "Respuesta Inmediata",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.1,
      "position": [460, 300]
    },
    {
      "parameters": {
        "values": {
          "number": [
            {
              "name": "proceso_id",
              "value": "={{ $json.proceso_id }}"
            }
          ],
          "string": [
            {
              "name": "codigo",
              "value": "={{ $json.codigo }}"
            },
            {
              "name": "callback_url",
              "value": "={{ $json.callback_url }}"
            },
            {
              "name": "api_token",
              "value": "={{ $json.api_token }}"
            }
          ]
        },
        "options": {}
      },
      "id": "set-variables",
      "name": "Set Variables",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [680, 300]
    },
    {
      "parameters": {
        "command": "=cd /opt/bybot/scripts && python analyzer/main.py --proceso_id {{ $json.proceso_id }} --archivos '{{ JSON.stringify($json.archivos) }}'"
      },
      "id": "ejecutar-analisis",
      "name": "Ejecutar Análisis Python",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [900, 300],
      "continueOnFail": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "condition-success",
              "leftValue": "={{ $json.exitCode }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "verificar-resultado",
      "name": "¿Éxito?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1120, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').item.json.callback_url }}/analisis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Access-Token",
              "value": "={{ $('Set Variables').item.json.api_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"proceso_id\": {{ $('Set Variables').item.json.proceso_id }},\n  \"success\": true,\n  \"datos\": {{ $('Ejecutar Análisis Python').item.json.stdout }}\n}"
      },
      "id": "callback-exito",
      "name": "Callback Éxito",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 200]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Variables').item.json.callback_url }}/analisis",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-N8N-Access-Token",
              "value": "={{ $('Set Variables').item.json.api_token }}"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"proceso_id\": {{ $('Set Variables').item.json.proceso_id }},\n  \"success\": false,\n  \"error\": \"{{ $json.stderr || 'Error desconocido en análisis' }}\"\n}"
      },
      "id": "callback-error",
      "name": "Callback Error",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1340, 400]
    }
  ],
  "connections": {
    "Webhook Entrada": {
      "main": [
        [
          {
            "node": "Respuesta Inmediata",
            "type": "main",
            "index": 0
          },
          {
            "node": "Set Variables",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Variables": {
      "main": [
        [
          {
            "node": "Ejecutar Análisis Python",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ejecutar Análisis Python": {
      "main": [
        [
          {
            "node": "¿Éxito?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "¿Éxito?": {
      "main": [
        [
          {
            "node": "Callback Éxito",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Callback Error",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "ByBot"
    }
  ],
  "triggerCount": 1,
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "bybot-instance"
  }
}

